name: Cleanup

on:
  pull_request:
    types:
      - closed

concurrency:
  # PR open and close use the same group, allowing only one at a time
  group: pr-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cleanup-openshift:
    name: Cleanup OpenShift
    runs-on: ubuntu-24.04
    environment:
      name: dev
    steps:
      - uses: actions/checkout@v6
      - name: Install CLI tools from OpenShift Mirror
        uses: redhat-actions/openshift-tools-installer@144527c7d98999f2652264c048c7a9bd103f8a82 # v1
        with:        
          oc: "4.13"
      - name: Remove OpenShift artifacts
        run: |
          oc login --token=${{ secrets.OC_TOKEN }} --server=${{ secrets.OC_SERVER }}
          oc project ${{ secrets.OC_NAMESPACE }}
          # Remove old build runs, build pods and deployment pods
          oc delete all,pvc,secret,cm -l app=${{ github.event.repository.name }}-${{ github.event.number }}

  image-promotions:
    name: Image Promotions
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    runs-on: ubuntu-24.04    
    steps:
      - uses: shrink/actions-docker-registry-tag@f04afd0559f66b288586792eb150f45136a927fa # v4
        with:
          registry: ghcr.io
          repository: ${{ github.repository }}/backend
          target: ${{ github.event.number }}
          tags: test
